# Imports

## Preparatory Imports

In [1]:
import sys
import os

src_path = "../src"
sys.path.insert(0, src_path)

hf_token = os.environ["HUGGINGFACE_TOKEN"]

## Main Imports

In [3]:
from data import load_data
from client import Client
from tester import Tester

C:\Users\antjg\venvs\ConvFinQA\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Test the Prototype

In [7]:
entries = load_data("../data/processed/train.json")

In [9]:
c = Client(
    "mistralai/Mistral-Nemo-Instruct-2407",
    token=hf_token,
)
t = Tester(c, entries)

In [11]:
t.run(range(10))

Found an error processing entry 6, question 2. Skipping to the next one...
Done

In [12]:
t.compare(range(10))

Entry 0
['206588', '181001', 'subtract(206588, 181001)', 'divide(A0, 181001)']
['206588', '181001', 'subtract(ANS0, ANS1)', 'divide(ANS2, ANS1)']
----------------------------------------
[206588.0, 181001.0, 25587.0, 0.14136]
[206588.0, 181001.0, 25587.0, 0.1413638598681775]

----------------------------------------

Entry 1
['9362.2', '9244.9', 'subtract(9362.2, 9244.9)', 'divide(A0, 9244.9)']
['9362.2', '9244.9', 'subtract(ANS0, ANS1)', 'divide(ANS2, ANS1)']
----------------------------------------
[9362.2, 9244.9, 117.3, 0.01269]
[9362.2, 9244.9, 117.30000000000109, 0.012688076669298868]

----------------------------------------

Entry 2
['5363', '7983', 'subtract(5363, 7983)', 'divide(A0, 7983)']
['5363', '7983', 'subtract(ANS1, ANS0)', 'divide(ANS2, ANS1)']
----------------------------------------
[5363.0, 7983.0, -2620.0, -0.3282]
[5363.0, 7983.0, 2620.0, 0.3281974195164725]

----------------------------------------

Entry 3
['subtract(75.95, const_100)', 'divide(A0, const_100)', '102.11', 'subtract(102.11, const_100)', 'divide(A2, const_100)', 'subtract(A1, A3)']
['subtract(75.95, 100)', 'divide(ANS0, 100)', '102.11', 'subtract(ANS2, 100)', 'divide(ANS3, 100)', 'subtract(ANS1, ANS4)']
----------------------------------------
[-24.05, -0.2405, 102.11, 2.11, 0.0211, -0.2616]
[-24.049999999999997, -0.24049999999999996, 102.11, 2.1099999999999994, 0.021099999999999994, -0.26159999999999994]

----------------------------------------

Entry 4
['subtract(91.06, const_100)', 'divide(#0, const_100)', 'subtract(75.95, const_100)', 'divide(#2, const_100)', 'subtract(102.11, const_100)', 'divide(#4, const_100)', 'subtract(#5, #5)']
['subtract(91.06, 100.00)', 'multiply(ANS0, 100)', 'subtract(75.95, 100.00)', 'multiply(ANS2, 100)', 'subtract(102.11, 100.00)', 'multiply(ANS4, 100)', 'subtract(ANS3, ANS5)']
----------------------------------------
[-8.94, -0.0894, -24.05, -0.2405, 2.11, 0.0211, -0.2616]
[-8.939999999999998, -893.9999999999998, -24.049999999999997, -2404.9999999999995, 2.1099999999999994, 210.99999999999994, -2615.9999999999995]

----------------------------------------

Entry 5
['2530454', '5923147', 'add(2530454, 5923147)', '5923147', 'divide(5923147, A0)']
['2530454', '5923147', 'add(ANS0, ANS1)', '5923147', 'divide(ANS3, ANS2)']
----------------------------------------
[2530454.0, 5923147.0, 8453601.0, 5923147.0, 0.70067]
[2530454.0, 5923147.0, 8453601.0, 5923147.0, 0.7006655506925392]

----------------------------------------

Entry 6
['subtract(3.7, 3.2)', '3.2', 'divide(A0, 3.2)']
['subtract(3200, 3700)', 'n/a', 'divide(ANS0, 3200)']
----------------------------------------
[0.5, 3.2, 0.15625]
[-500.0, nan, -0.15625]

----------------------------------------

Entry 7
['subtract(118, 102)', 'divide(#0, 102)']
['subtract(118, 102)', 'divide(ANS0, 102) * 100%']
----------------------------------------
[16.0, 0.15686]
[16.0, 0.1568627450980392]

----------------------------------------

Entry 8
['27729', '45161', 'add(27729, 45161)', 'divide(A0, 317105)']
['27729', '45161', 'add(ANS0, ANS1)', 'divide(ANS2, 317105)']
----------------------------------------
[27729.0, 45161.0, 72890.0, 0.22986]
[27729.0, 45161.0, 72890.0, 0.22986077166869018]

----------------------------------------

Entry 9
['4.5', '4.1', 'add(4.5, 4.1)', 'add(A0, 3.4)']
['4.5', '4.1', 'add(ANS0, ANS1)', 'add(ANS2, 3.4)']
----------------------------------------
[4.5, 4.1, 8.6, 12.0]
[4.5, 4.1, 8.6, 12.0]

----------------------------------------

In [15]:
t.view_err_log(range(10))

Entry 6
----------------------------------------
Question 2: Answer Please provide me with the relevant context for this question.
Error: Answer from the LLM should include an "=" sign

----------------------------------------

In [17]:
indices = [108, 110, 112, 114, 2736, 2798, 183, 318, 529]
t.run(indices)

Found an error processing entry 2798, question 2. Skipping to the next one...
Found an error processing entry 2798, question 3. Skipping to the next one...
Found an error processing entry 2798, question 4. Skipping to the next one...
Found an error processing entry 183, question 2. Skipping to the next one...
Found an error processing entry 183, question 3. Skipping to the next one...
Found an error processing entry 183, question 4. Skipping to the next one...
Done

In [19]:
t.compare(indices)

Entry 108
['multiply(161903, 27.57)', 'divide(A0, const_1000000)']
['multiply(0, 0)', 'ANS0']
----------------------------------------
[4463665.71, 4.46367]
[0.0, 0.0]

----------------------------------------

Entry 110
['divide(7200, 4100)', 'multiply(15900, 19%)']
['divide(7200, 4100)', 'multiply(0.19, 15900)']
----------------------------------------
[1.7561, 3021.0]
[1.7560975609756098, 3021.0]

----------------------------------------

Entry 112
['1610.3', '1612.9', 'add(1610.3, 1612.9)', 'add(1762.3, 1722.2)', 'divide(A0, A1)', 'multiply(A2, const_100)']
['1610.3', '1612.9', 'add(ANS0, ANS1)', 'add(ANS2, 6)', 'divide(ANS2, ANS3)', 'multiply(ANS4, 100)\nANS5']
----------------------------------------
[1610.3, 1612.9, 3223.2, 3484.5, 0.92501, 92.50108]
[1610.3, 1612.9, 3223.2, 3229.2, 0.9981419546636938, 99.81419546636938]

----------------------------------------

Entry 114
['add(1623.5, 1129.8)', 'add(1732.8, 1662.5)', 'divide(A0, A1)', 'multiply(A2, const_100)']
['add(1129.8, 1623.5)', 'add(ANS0, 353.6)', 'divide(ANS0, ANS1)', 'multiply(ANS2, 100%)']
----------------------------------------
[2753.3, 3395.3, 0.81092, 81.09151]
[2753.3, 3106.9, 0.886188805561814, 0.886188805561814]

----------------------------------------

Entry 2736
['2.75%', 'add(const_1, 2.75%)', 'exp(A0, const_10)', '400.0', 'multiply(400.0, A1)']
['2.75%', 'add(1, ANS0)', 'exp(ANS1, 10)', '400', 'multiply(ANS3, ANS2)']
----------------------------------------
[0.0275, 1.0275, 1.31165, 400.0, 524.66041]
[0.0275, 1.0275, 1.3116510325867732, 400.0, 524.6604130347092]

----------------------------------------

Entry 2798
['3.75%', 'add(const_1, 3.75%)', 'exp(A0, const_6)', 'multiply(18.47, A1)']
['3.75%', 'n/a', 'n/a', 'n/a']
----------------------------------------
[0.0375, 1.0375, 1.24718, 23.03539]
[0.0375, nan, nan, nan]

----------------------------------------

Entry 183
['400', '6.65%', 'multiply(400, 6.65%)', 'greater(A0, 5)']
['400', 'n/a', 'n/a', 'n/a']
----------------------------------------
[400.0, 0.0665, 26.6, 'yes']
[400.0, nan, nan, nan]

----------------------------------------

Entry 318
['divide(34, 214)', 'greater(34, 52)']
['divide(34, 214)*100%', 'greater(34, 52)']
----------------------------------------
[0.15888, 'no']
[0.1588785046728972, 'no']

----------------------------------------

Entry 529
['subtract(495, 100)', 'divide(#0, 100)', 'greater(241, 85)']
['subtract(495, 100)', 'divide(ANS0, 100)', 'greater(241, 85)']
----------------------------------------
[395.0, 3.95, 'yes']
[395.0, 3.95, 'yes']

----------------------------------------

In [21]:
t.view_err_log(indices)

Entry 2798
----------------------------------------
Question 2: Answer ANS1 = subtract(1, multiply(ANS0, 100))
Error: Non-float answer should be an operation of the form "operation(arg1, arg2)", but got the following: subtract(1, multiply(ANS0, 100))
----------------------------------------
Question 3: Answer ANS2 = subtract(1, ANS1)
Error: Operation requires use of nan value
----------------------------------------
Question 4: Answer ANS3 = divide(1, subtract(1, ANS1))
Error: Non-float answer should be an operation of the form "operation(arg1, arg2)", but got the following: divide(1, subtract(1, ANS1))

----------------------------------------

Entry 183
----------------------------------------
Question 2: Answer ANS1 = undoexp(add(ANS0, 0), ANS1)
Error: Non-float answer should be an operation of the form "operation(arg1, arg2)", but got the following: undoexp(add(ANS0, 0), ANS1)
----------------------------------------
Question 3: Answer ANS2 = divide(ANS1, ANS0)
Error: Operation requires use of nan value
----------------------------------------
Question 4: Answer ANS3 = greater(ANS2, 5)
Error: Operation requires use of nan value

----------------------------------------